h1 {
  text-align: center;
  color: white;
}
h2,
h3 {
  text-align: center;
  color: blueviolet;
}
h4 {
  color: red;
  font-size: 30px;
  text-align: center;
}
h5 {
  text-align: center;
}
h6 {
  font-size: x-small;
  color: white;

  margin-top: 200px;
}
.class-sunone {
  font-size: 100 px;
  color: green;
  text-align: left;
}
.weather-search-form {
  margin-bottom: 300px;
}
.weather-app {
  border: 1px solid;
  border-color: black;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background-color: rosybrown;
}
.weather-forecast {
  margin-top: 50px;
  text-align: center;
  color: #000;
}
.weather-forecastdate . {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forcast-temperatures-minimum {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
